@import "global";
@import "header";
@import "footer";

#page_container {
    display: grid;
    place-items: center;
    row-gap: 50px;
}
form {
    display: grid;
    place-items: center;
}

section {
    display: grid;
    place-items: center;
    row-gap: 50px;
}
